<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>      
      <class name="org.testing.testScripts.TC1_PostRequest"/>
      <class name="org.testing.testScripts.TC2_GetAllRequest"/>
      <class name="org.testing.testScripts.TC3_GetParticularRequest"/>
      <class name="org.testing.testScripts.TC4_PutRequest"/>
      <class name="org.testing.testScripts.TC5_deleteRequest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
